body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #b4aeeb;
}

#noButton{
    position: absolute;
    margin-left: 150px;
    transition: 0.5s;
}

#yesButton{
    position: absolute;
    margin-left: 150px;
}

.header_text {
    font-family: 'Poppins';
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
}

.btn{
    background-color: #aaa4de;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    border-radius: 12px;
    transition: background-color 0.3s ease;
}

.btn:hover{
    background-color: #b4aeeb;
}

.gif_container{
    display: flex;
    justify-content: center;
    align-items: center;
}